<div class="footer right" style="margin-top: 5rem; color: grey">
    Copyright(C)2020-<%- date(Date.now(), 'YYYY') %> Shengchen Zhang.
    <a href="https://beian.miit.gov.cn/">鲁ICP备2021005326号</a>
</div>